<p style="color: green"><%= notice %></p>

<div class="container my-5">
  <div class="row">
    <div class="col">
      <h1>Monuments</h1>

      <div id="monuments">
        <% @monuments.each do |monument| %>
          <%= render monument %>
          <p>
            <%= link_to "Show this monument", monument %>
          </p>
        <% end %>
      </div>

      <div data-controller="toggle">
        <button class = "btn btn-primary mt-3" data-action="click->toggle#fire">Add a new monument</button>
        <div class = "mt-4 d-none" data-toggle-target="toggleableElement">
          <%= render "form", monument: @monument%>
        </div>
      </div>
    </div>
  </div>
</div>
